a:link {
  color: #99e699;
}
a:visited {
  color: red;
}
/* general stuff*/
*{
  box-sizing: border-box;
}
.three{
  float: left;
  width: 33.33%;
  padding: 10px;
}
.column:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;
  float:none;
}
.column {
  flex: 50%;
}
img{
  width:90%;
  position:relative;
  object-fit: cover;
}
body {
  background: #003d99;
  background-size: cover;
  text-align: center;
  color: #99e699;
  font-family: 'Gentium Book Basic', serif;
}
table{
  background-color: grey;
  color: #0033cc;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red ;
  font-family: inherit;
}
th, td{
  border: 2px solid red;
  color: #0033cc;
  font-size: medium;
  border-radius: 3px;
  width: 300px;
  height:45px;
  text-align: center;
  font-family: inherit;
}
ol li{
  position:relative;
  background: grey;
  padding: 2px;
  margin-left: 3px;
}
#paolini{
  width:10%;
  height:10%;
}
#flann{
  width:9%;
  height:9%;
}
#pierce{
  width:10%;
  height:10%;
}
#riordan{
  width:10%;
  height:10%;
}
#weir{
  width:13%;
  height:13%;
}
#logoAPlus{
  width:10%;
  height:10%;
}
#vod{ 
  width:90%;
 height: 65%;
}